* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    background-color: #4b4646;
    width: 100%;
    height: 60px;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

button {
    border: none;
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
    user-select: none;
    display: inline;
    text-align: center;
}

button:hover {
    background-color: #1788f11a;
}

button.active {
    background-color: #609dcf33;
    color: #2644c8;
}

input[type="color"] {
    width: 20px;
    height: 8px;
    outline: none;
    display: flex;
    box-shadow: none;
    overflow: hidden;
    background-color: rgb(235, 235, 235);   
}

h4 {
    color: rgb(252, 248, 248);
}

.text-area {
    width: 950px;
    height: 400px;
    border: 3px solid rgb(24, 23, 23);
    margin: auto;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
    background-color: #fcfcfd;
    
}